<div class="container pt-5 pb-4">
</div>
<div class="container pb-5">
  <h2 class=" display-5 fw-bold text-primary">Account Details <button class="text-primary border-0 bg-transparent" ><i class="fa fa-file-text"></i></button></h2>
  <hr class="pb-5"/>
  <table style="width:100%">
    <tr>
      <th class="head fw-bold py2">Account Name:</th>
      <td>{{accountDetailsModel.name}}</td>
    </tr>
    <tr>
      <th class="head fw-bold py2">User Id:</th>
      <td>{{accountDetailsModel.user_id}}</td>
    </tr>
    <tr>
      <th class="head fw-bold py2">Account Number:</th>
      <td>{{accountDetailsModel.account_number}}</td>
    </tr>
    <tr>
        <th class="head fw-bold py2">Balance:</th>
        <td>{{accountDetailsModel.totalAmount}}</td>
      </tr>
      <tr>
        <th class="head fw-bold py2">IFS Code:</th>
        <td>{{accountDetailsModel.ifsc}}</td>
      </tr>
      <tr>
        <th class="head fw-bold py2">Branch Code:</th>
        <td>{{accountDetailsModel.branch_code}}</td>
      </tr>
      <tr>
        <th class="head fw-bold py2">Phone No:</th>
        <td>{{accountDetailsModel.phone_no}}</td>
      </tr>
      <tr>
        <th class="head fw-bold py2">Email:</th>
        <td>{{accountDetailsModel.email}}</td>
      </tr>
      <tr>
        <th class="head fw-bold py2">PAN Number:</th>
        <td>{{accountDetailsModel.pan}}</td>
      </tr>
      <tr>
        <th class="head fw-bold py2">Addhar Number:</th>
        <td >{{accountDetailsModel.addhar}}</td>
      </tr>
      <tr>
        <th class="head fw-bold py2">Account Opening Date:</th>
        <td>{{accountDetailsModel.date}}</td>
      </tr>
  </table>
</div>