<div class="container-fluid heading py-3">
<h2 class="display-3 text-uppercase fw-bold text-center pt-5">Akash Paul</h2>
<p class="lead fw-bold text-center"><i class="fa-solid fa-building-columns"></i> 508987667788656</p>
<p class="text-center"><a class="text-heading fw-bold text-uppercase text-decoration-none" href=""><i class=" fa fa-sign-out"></i> Logout</a></p>
</div>
<div class="container py-5" align="center">
<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card p-5" style="width: 22rem;" routerLink="/accoutDetails">
            <img src="../../assets/image/account-image.png" height="180" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title mt-5 text-uppercase">Account Details</h5>
            </div>
          </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card p-5" style="width: 22rem;"routerLink="/transaction">
            <img src="../../assets/image/transaction.png" height="180" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title mt-5 text-uppercase">Transactions</h5>
            </div>
          </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card p-5" style="width: 22rem;" routerLink="/transactionHistory">
            <img src="../../assets/image/transaction-history.png" height="180" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title mt-5 text-uppercase">Transaction History</h5>
            </div>
          </div>
    </div>
</div>
</div>
